.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.menu.no-margin {
  margin-bottom: 0px;
  margin-top: 0px;
}

.ui.list.no-margin {
  margin-bottom: 0px;
  margin-top: 0px;
}
.ui.vertical.menu.max-width {
  width: 100%;
}

.ui.compact.grid .row:not(:first-child),
.ui.grid .compact.row {
  padding-top: 0;
}
.ui.compact.grid .row:not(:last-child),
.ui.grid .compact.row {
  padding-bottom: 0;
}
.ui.compact.grid .column:not(:first-child),
.ui.grid .compact.row .column:not(:first-child),
.ui.grid .compact.column {
  padding-left: 0;
}
.ui.compact.grid .column:not(:last-child),
.ui.grid .compact.row .column:not(:last-child),
.ui.grid .compact.column {
  padding-right: 0;
}

.container-all-padding {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container-small-top-bottom-padding {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fill-div {
  width: 100%;
  height: 100%;
}

.ui.centered.grid.grid-centered {
  text-align: center;
}

.ui.progress:last-child.no-margin {
  margin: 0 0 0em;
}

.ui.table.no-margin {
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.ui.button.retry-upload {
  background-color: white;
}

.ui.button.retry-upload:hover {
  background-color: white;
}

.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;

}

.with-sidebar > * > * {
  margin: calc(10px / 2);
  flex-basis: 220px;
  flex-grow: 1;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 10);
}

.SingleDatePicker,
.SingleDatePicker > div,
.SingleDatePickerInput,
.SingleDatePickerInput > div {
  display: flex;
  flex: 1;
  width: 100%;
}

.DateInput_fang {
  margin-top: 1px;
}

.DayPicker__withBorder {
  box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.07) !important;
}
